{% extends "lion/base.html" %}
{% load static %}

{% block content %}

    <style>
      #form {

          margin: auto;
          width: 60%;
          border: 5px solid rgb(119, 169, 192);
          padding: 10px;
          color:azure;
          text-align: center;
      }  
    </style>

    <h1 class="heading">welcome to lion</h1>

    <h2>
    <form action="/facerec/" method="get" id="form">
        <br><br><br>
        <label for="fname">Enter your ID:</label><br><br><br>
        <br>
        <input type="number" id="get_id" name="id" value=""><br><br><br>

        <input type="submit" value="Submit"><br><br><br><br>
      </form>
    </h2>


{% endblock content %}

